body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #D3D3D3;
    background-color: #1B1B1B;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    position: relative; 
    overflow: hidden;
}

body::before {
    content: "👻 👻 👻 👻 👻 👻 👻 👻 👻 👻";
    font-size: 5em;
    opacity: 0.05; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    line-height: 1.5;
    overflow: hidden;
}

body::after {
    content: "👻 👻 👻 👻 👻 👻 👻 👻 👻 👻";
    font-size: 5em;
    opacity: 0.05;
    position: absolute;
    top: 20%;
    left: 10%;
    transform: rotate(15deg);
    white-space: nowrap;
}

header, footer {
    background-color: #2C2C2C;
    color: #D3D3D3;
    padding: 20px 0;
    text-align: center;
}

header h1, footer p {
    margin: 0;
    font-weight: 300;
    color: #E53935;
}

nav a {
    color: #D3D3D3;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 4px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

nav a:hover {
    background-color: #E53935;
    color: #FFFFFF;
}

main {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #2C2C2C;
    color: #D3D3D3;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

h1 {
    font-size: 2.5em;
    color: #E53935;
    font-weight: 300;
    margin-bottom: 20px;
}

.top-button:hover {
    background-color: #D32F2F;
}
